{% for page in site.pages %}
    {% if page.tags contains "about" %}
        <a href="{{ page.url }}">About</a>
    {% endif %}
{% endfor %}

{% for page in site.pages %}
    {% if page.tags contains "resume" %}
        <a href="{{ page.url }}">{{ page.title }}</a>
    {% endif %}
{% endfor %}
{% for page in site.pages %}
    {% if page.tags contains "tools" %}
        <a href="{{ page.url }}">{{ page.title }}</a>
    {% endif %}
{% endfor %}
{% for page in site.pages %}
    {% if page.tags contains "contact" %}
        <a href="{{ page.url }}">Contact</a>
    {% endif %}
{% endfor %}
